.uk-accordion-title {
    background-color: rgb(34, 116, 111);
    height: 5%;
    color: white;
    line-height: 1.3;
}
/* Keeps text color of accordion white */
.uk-accordion-title:hover,
.uk-accordion-title:focus {
    color: white;
}
a.uk-accordion-title::after {
    background-image: none;
}

@media screen and (max-width: 645px) {
    /********************* Accordion ************************/
    .uk-accordion-title {
        width: auto;
        font-size: 250%;
    }
    /* Size of accordion buttons */
    .uk-accordion {
        margin: 10px 20px;
    }
    /*********************************************************/
}

@media screen and (min-width: 645px) {
    div.uk-container {
        margin-left: 17.5%;
    }
    .desktop-wrapper {
        margin-left: 130px;
    }
    /********************* Accordion ************************/
    /* Size of accordion buttons */
    .uk-accordion {
        max-width: 100%;
        margin: 10px 100px;
    }
    .desktop-wrapper ul.uk-accordion>li {
        width: 100%;
        margin: 20px 0;
    }
    /* Four accordion buttons */
    .uk-accordion-title {
        max-width: 100%;
        font-size: 150%;
    }
    div.uk-accordion-content>p {
        margin-left: 15.5%;
    }
    /*********************************************************/
}