html {
    font-family: "Open Sans" !important;
}

body {
    height: 100%;
    min-height: 100%;
    /*overflow-y: hidden;*/
}

/*--------------- Top Navbar ---------------*/

/* EnglishConnect Text and Subnav under it */

.uk-logo {
    font-size: 200%;
}

/*div.uk-navbar-center {
    margin-top: 100px;
}*/

/* Subnav text */

#second-nav {
    text-transform: uppercase;
    text-align: center;
    font-size: 125%;
}

/* Help button and icon */

.uk-navbar-right {
    margin-right: 10px;
    font-size: 150%;
}

/* Navbar Container */

.uk-navbar-container:not(.uk-navbar-transparent) {
    height: 5%;
    margin-bottom: 10px;
}

/*--------------- Bottom Navbar ---------------*/

/* Entire navbar */

#bottom-nav {
    position: fixed;
    background-color: white;
}

/* Icons */

.uk-navbar-nav>li>a {
    color: gray;
    height: 5px;
}

#thing {
    padding-right: 10px;
    padding-left: 10px;
}

#active-button-thing {
    color: rgb(14, 109, 126);
    padding-right: 20px;
    padding-left: 20px;
}

/* Container around text underneath icons */

.uk-navbar-nav>li {
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
}

#nav-icons {
    padding-bottom: 70px;
    /* background-color: white; */
}

/* Text underneath icons */

.uk-navbar-nav>li>p {
    /*padding: 30px;
    margin: 17px;*/
    font-size: 30px;
    line-height: 1.1;
}

/* Five buttons */

#goal-button {
    background-color: rgb(34, 116, 111);
    color: white;
    margin-top: 5%;
    height: 5%;
    width: 100%;
    font-size: 250%;
}

/* Current page's icon */

#active-button {
    color: rgb(14, 109, 126);
}

/* Divider under function buttons */

.uk-divider-small::after {
    width: 100%;
    border-top: 3px solid gray;
}

.uk-card-body {
    padding: 10px 10px;
    width: 90%;
    height: 30%;
    border: solid rgba(128, 128, 128, 0.438);
    border-width: 2px;
    margin-bottom: 50px;
}

/*  */

button.uk-button.unit-buttons {
    border: solid gray;
    border-radius: 5px;
    width: 35%;
    /*max-width: 120px;*/
    height: 17%;
    text-transform: none;
    margin: 5px;
    padding: 0;
    line-height: 15px;
    margin-left: 80px;
    font-size: 35px;
}

/*  */

div.uk-grid-small {
    margin-left: 150px;
    margin-top: 0px;
    width: 1630px;
    float: right;
}

/*  */

button.uk-button.unit-buttons.button-seven {
    margin-left: 265px;
}

/*  */

.uk-card-title {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 40px;
}

/*  */

#unit-one {
    background-color: rgb(14, 87, 155);
}

/*  */

#unit-two {
    background-color: rgb(30, 170, 170);
}

/*  */

#unit-three {
    background-color: rgb(122, 167, 70);
}

/*  */

#unit-four {
    background-color: rgb(194, 46, 46);
}

/*  */

#unit-five {
    background-color: rgb(224, 129, 39);
}

/*  */

#unit-six {
    background-color: rgb(228, 156, 24);
}

/*  */

#unit-seven {
    background-color: rgb(68, 163, 119);
}

/* Four accordion buttons */

@media screen and (min-width: 1000px) {
    .uk-flex {
        flex-wrap: wrap;
        width: 90%;
        margin-left: 14.1%;
    }
    /* Four accordion buttons */
    .uk-accordion-title {
        background-color: rgb(34, 116, 111);
        width: 66.8%;
        margin-left: 15.5%;
        height: 5%;
        color: white;
        font-size: 150%;
        line-height: 1.3;
    }
    /* Keeps text color of accordion white */
    .uk-accordion-title:hover,
    .uk-accordion-title:focus {
        color: white;
    }
    /* Size of accordion buttons */
    .uk-accordion {
        margin: 20px 40px;
    }
    div.uk-accordion-content>p {
        margin-left: 15.5%;
    }
    a.uk-accordion-title::after {
        background-image: none;
    }
    /*--------------- Desktop Gathering Page ---------------*/
    /*  */
    .uk-card-body {
        padding: 0px;
        margin: 15px 50px;
        width: 340px;
        border: solid rgba(128, 128, 128, 0.246);
        border-width: 2px;
        height: 280px;
    }
    /*  */
    button.uk-button.unit-buttons {
        border: solid gray;
        border-radius: 5px;
        width: 80px;
        max-width: 120px;
        height: 40px;
        padding: 0px;
        text-transform: none;
        margin: 5px;
        line-height: 15px;
        margin-left: 18px;
        font-size: 15px;
    }
    /*  */
    div.uk-grid-small {
        margin-left: 150px;
        /* margin-top: 0px; */
        /* width: 1630px; */
        float: right;
    }
    /*  */
    button.uk-button.unit-buttons.button-seven {
        margin-left: 126px;
        max-width: 102px;
    }
    /*  */
    .uk-card-title {
        padding: 20px;
        color: white;
        text-align: center;
    }
    /*  */
    #sidenav {
        background-color: rgb(244, 173, 37);
        margin-left: 0px;
        width: 90px;
        margin-right: 50px;
        padding-left: 0px;
        height: 130%;
    }
    /*  */
    #side-nav-button {
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        border-bottom: solid white;
    }
    /*  */
    #pathway-logo {
        width: 90%;
        margin-left: 5px;
    }
    /*  */
    #side-nav-box {
        list-style-type: none;
        padding: 0px;
        background-color: rgb(196, 191, 191);
        width: 130px;
        margin-top: 115px;
        border-top: solid white;
    }
    /*  */
    #breadcrumb {
        margin: 0px 340px;
    }
    #mobile {
        display: none;
    }
    #breadcrumb {
        margin: 0px 340px;
    }
    h2 {
        margin-left: 200px;
    }
    #second-nav {
        display: none;
    }
    #bottom-nav {
        display: none;
    }
    #sidenav {
        background-color: rgb(244, 173, 37);
        margin-left: 0px;
        width: 90px;
        margin-right: 50px;
        padding-left: 0px;
        height: 130%;
    }
    #side-nav-box {
        list-style-type: none;
        padding: 0px;
        background-color: rgb(196, 191, 191);
        width: 130px;
        margin-top: 115px;
        border-top: solid white;
    }
    #side-nav-button {
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        border-bottom: solid white;
    }
    #pathway-logo {
        width: 90%;
        margin-left: 5px;
    }
    div.uk-container {
        margin-left: 17.5%;
    }
}

@media screen and (max-width: 1000px) {
    .uk-flex {
        flex-wrap: wrap;
    }
    #desktop {
        display: none;
    }
    #breadcrumb {
        display: none;
    }
    #sidenav {
        display: none;
    }
    .uk-accordion-title {
        background-color: rgb(34, 116, 111);
        width: 100%;
        height: 5%;
        color: white;
        font-size: 250%;
        line-height: 1.3;
    }
    /* Keeps text color of accordion white */
    .uk-accordion-title:hover,
    .uk-accordion-title:focus {
        color: white;
    }
    /* Size of accordion buttons */
    .uk-accordion {
        margin: 10px 20px;
        /* width: 90%; */
    }
    a.uk-accordion-title::after {
        background-image: none;
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: none;
    }
}