@media screen and (min-width: 645px) {
    .mobile,
    #second-nav {
        display: none;
    }
    /*--------------- Desktop Home Page ---------------*/
    .desktop {
        display: flex;
        left: var(--sidebar-width);
    }
    .desktop-container {
        display: flex;
        flex-flow: row wrap;
        margin: auto auto auto calc(var(--sidebar-width) + 10px);
        width: var(--desktop-container-width);
    }
    .desktop-container>div {
        height: 800px;
        min-width: 600px;
        max-width: 800px;
        width: 90vw;
        margin: auto auto 30px auto;
    }
    /************ SVG *************/
    #desktop-my-progress {
        border: solid rgb(196, 191, 191);
    }
    #desktop-todays-goals {
        border: solid rgb(196, 191, 191);
    }
    #vocabIcon-desktop {
        background-color: #3c8f9c;
    }
    #grammarIcon-desktop {
        background-color: #e7781f;
    }
    #desktop-divider {
        position: absolute;
        bottom: 200px;
    }
    /********** Bottom Vocab/Grammar containers ************/
    #vocabIcon-desktop,
    #grammarIcon-desktop {
        color: white;
        filter: brightness(110%);
        border-radius: 50%;
        height: 60px;
        width: 60px;
        font-family: serif;
        font-size: 1.5em;
    }
    button.uk-button {
        padding: 0px 30px;
        font-size: .875rem;
        margin-right: 0px;
    }
    div.uk-button-group {
        width: 100%;
    }
    #vocab-grammar-container {
        width: 60%;
        margin-bottom: 3%;
        padding: 0px;
    }
    #group1, #group2 {
        align-items: flex-end;
        display: flex;
        flex-flow: row nowrap;
        padding: 10px 0;
    }
    #square-edges {
        width: 25%;
        height: 35px;
        color: white;
        background-color: rgba(151, 150, 150, 0.781);
    }
    label {
        width: 100%;
        font-family: sans-serif;
        padding: 0 10px;
        font-weight: 700;
    }
    #group1 label {
        color: #3c8f9c;
    }
    #group2 label {
        color: #e7781f;
    }
    .uk-card-body {
        padding: 0px;
        margin: 15px 50px;
        width: 340px;
        border: solid rgba(128, 128, 128, 0.246);
        border-width: 2px;
    }
    div.uk-grid-small {
        margin-top: 0px;
        width: 1630px;
        float: right;
    }
    #desktop-my-progress>.uk-card-title,
    #desktop-todays-goals>.uk-card-title {
        padding: 10px 40px;
        color: white;
        text-align: left;
        background-color: #174C5B;
        text-transform: uppercase;
        margin: 0;
        font-size: 2em;
    }
    /*--------------- Top Navbar ---------------*/
    .uk-navbar-left {
        margin-left: 5px;
    }
    .uk-navbar-right {
        font-family: sans-serif;
        margin-right: 10px;
        font-size: 150%;
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        height: 5%;
        margin-bottom: 10px;
    }
    #circle {
        margin-top: -55px;
        width: 100%;
    }
    #EC3-logo {
        height: 80%;
    }
    footer {
        background-color: #f1eff2;
        color: black;
        line-height: 16px;
        margin-left: var(--sidebar-width);
        padding-bottom: 3px;
        position: absolute;
        text-align: center;
        width: var(--desktop-container-width);
    }
    /*****************************NEW STUFF**********************************/
    #goal-button {
        background-color: rgb(34, 116, 111);
        color: white;
        margin-top: 5%;
        height: 5%;
        width: 100%;
        font-size: 250%;
    }
    #desktop-feedback {
        margin-left: 200px;
    }
}