@media screen and (min-width: 845px) {
    :root {
        --sidebar-width: 130px;
        --desktop-container-width: calc(100vw - var(--sidebar-width));
    }
    html {
        font-family: "Open Sans" !important;
        overflow-x: hidden;
    }
    .uk-logo {
        font-size: 90%;
        font-family: serif;
    }
    .uk-logo>span {
        color: #174C5B;
    }
    .mobile,
    #second-nav {
        display: none;
    }
    /*--------------- Desktop Home Page ---------------*/
    #english-connect-3 {
        left: calc(var(--sidebar-width) * 2 + 30px);
    }
    .desktop {
        display: flex;
        left: var(--sidebar-width);
    }
    .desktop-container {
        display: flex;
        flex-flow: row wrap;
        margin: auto auto auto calc(var(--sidebar-width) + 10px);
        width: var(--desktop-container-width);
    }
    .desktop-container>div {
        height: 800px;
        min-width: 600px;
        max-width: 800px;
        width: 90vw;
        margin: auto auto 30px auto;
    }
    /************ SVG *************/
    .reading1 {
        fill: #ce4929;
    }
    img#nav-icons {
        width: 65px;
    }
    #desktop-my-progress {
        border: solid rgb(196, 191, 191);
    }
    #desktop-todays-goals {
        border: solid rgb(196, 191, 191);
    }
    #vocabIcon-desktop {
        background-color: #3c8f9c;
    }
    #grammarIcon-desktop {
        background-color: #e7781f;
    }
    #vocabIcon-desktop,
    #grammarIcon-desktop {
        color: white;
        filter: brightness(110%);
        border-radius: 50%;
        height: 60px;
        width: 60px;
        font-family: serif;
        font-size: 1.5em;
    }
    button.uk-button {
        padding: 0px 30px;
        font-size: .875rem;
        margin-right: 0px;
    }
    #desktop-divider {
        position: absolute;
        bottom: 200px;
    }
    /* hr#desktop-divider.uk-divider-small::after { */
    /* width: 100%; */
    /* margin-bottom: 40%; */
    /* } */
    div.uk-button-group {
        /* margin-left: 10px; */
        width: 100%;
    }
    #vocab-grammar-container {
        width: 60%;
        margin-bottom: 3%;
        padding: 0px;
    }
    #group1, #group2 {
        align-items: flex-end;
        display: flex;
        flex-flow: row nowrap;
        padding: 10px 0;
    }
    #square-edges {
        width: 25%;
        height: 35px;
        color: white;
        background-color: rgba(151, 150, 150, 0.781);
    }
    /* #group1 label>div button {
        background-color: #3c8f9c;
    }
    #group1 label>div button {

    } */
    label {
        width: 100%;
        font-family: sans-serif;
        padding: 0 10px;
        font-weight: 700;
    }
    #group1 label {
        color: #3c8f9c;
    }
    #group2 label {
        color: #e7781f;
    }
    #sidenav {
        position: fixed;
        background-color: rgb(244, 173, 37);
        margin: 0;
        width: var(--sidebar-width);
        padding: 0;
        height: 100%;
        top: 0;
        left: 0;
    }
    #side-nav-box {
        list-style-type: none;
        padding: 0px;
        background-color: rgb(196, 191, 191);
        width: 130px;
        margin-top: 115px;
        border-top: solid white;
    }
    #side-nav-button {
        padding-top: 3px;
        width: var(--sidebar-width);
        text-align: center;
        border-bottom: solid white;
    }
    #side-nav-button>p {
        margin: 0;
    }
    #pathway-logo {
        width: 90%;
        margin-left: 5px;
    }
    ul {
        list-style-type: none;
        padding: 0px;
        background-color: rgb(196, 191, 191);
        width: 130px;
        margin-top: 115px;
    }
    #breadcrumb {
        letter-spacing: 2px;
        font-family: sans-serif;
        margin: 0px calc(var(--sidebar-width) + 50px);
    }
    .uk-card-body {
        padding: 0px;
        margin: 15px 50px;
        width: 340px;
        border: solid rgba(128, 128, 128, 0.246);
        border-width: 2px;
    }
    div.uk-grid-small {
        margin-top: 0px;
        width: 1630px;
        float: right;
    }
    #desktop-my-progress>.uk-card-title,
    #desktop-todays-goals>.uk-card-title {
        padding: 10px 40px;
        color: white;
        text-align: left;
        background-color: #174C5B;
        text-transform: uppercase;
        margin: 0;
        font-size: 2em;
    }
    /*--------------- Top Navbar ---------------*/
    .uk-navbar-left {
        margin-left: 5px;
    }
    .uk-logo {
        font-size: 200%;
    }
    .uk-navbar-right {
        margin-right: 10px;
        font-size: 150%;
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        height: 5%;
        margin-bottom: 10px;
    }
    #circle {
        margin-top: -60px;
        width: 100%;
    }
    #EC3-logo {
        height: 80%;
    }
    footer {
        background-color: #f1eff2;
        color: black;
        line-height: 16px;
        margin-left: var(--sidebar-width);
        padding-bottom: 3px;
        position: absolute;
        text-align: center;
        width: var(--desktop-container-width);
    }
    /*****************************NEW STUFF**********************************/
    #goal-button {
        background-color: rgb(34, 116, 111);
        color: white;
        margin-top: 5%;
        height: 5%;
        width: 100%;
        font-size: 250%;
    }
    #desktop-feedback {
        margin-left: 200px;
    }
}