html {
    font-family: "Open Sans" !important;
}

/*--------------- Desktop Home Page ---------------*/

#desktop-my-progress {
    border: solid rgb(196, 191, 191);
    margin-left: 10px;
    margin-right: 100px;
    height: 700px;
}

#desktop-my-progress>.uk-card-title {
    background-color: #086470;
    color: white;
    text-transform: uppercase;
}

#desktop-todays-goals {
    border: solid rgb(196, 191, 191);
    margin-left: 10px;
    margin-right: 100px;
}

#desktop-todays-goals>.uk-card-title {
    background-color: #086470;
    color: white;
    text-transform: uppercase;
}

#vocabIcon-desktop,
#grammarIcon-desktop {
    background-color: #299999;
    color: white;
    filter: brightness(110%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-family: serif;
    font-size: 1.5em;
    padding: 0px 5px;
}

button.uk-button {
    padding: 0px 30px;
    font-size: .875rem;
    margin-right: 0px;
}

#grammarIcon-desktop {
    background-color: rgb(255, 166, 0);
}

#square-edges {
    width: 80px;
    height: 35px;
    color: white;
    background-color: rgba(151, 150, 150, 0.781);
}

#desktop-divider.uk-divider-small::after {
    width: 690px;
    margin-bottom: 25%;
}

#vocab-grammar-container {
    width: 400px;
    margin-bottom: 8%;
    padding: 0px;
}

#sidenav {
    background-color: rgb(244, 173, 37);
    margin-left: 0px;
    width: 90px;
    margin-right: 50px;
    padding-left: 0px;
    height: 130%;
}

#side-nav-box {
    list-style-type: none;
    padding: 0px;
    background-color: rgb(196, 191, 191);
    width: 130px;
    margin-top: 115px;
    border-top: solid white;
}

#side-nav-button {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-bottom: solid white;
}

#pathway-logo {
    width: 90%;
    margin-left: 5px;
}

ul {
    list-style-type: none;
    padding: 0px;
    background-color: rgb(196, 191, 191);
    width: 130px;
    margin-top: 115px;
}

#breadcrumb {
    margin: 0px 340px;
}

.uk-card-body {
    padding: 0px;
    margin: 15px 50px;
    width: 340px;
    border: solid rgba(128, 128, 128, 0.246);
    border-width: 2px;
}

div.uk-grid-small {
    margin-left: 150px;
    margin-top: 0px;
    width: 1630px;
    float: right;
}

.uk-card-title {
    padding: 20px;
    color: white;
    text-align: center;
}

/*--------------- Top Navbar ---------------*/

.uk-navbar-left {
    margin-left: 5px;
    /*font-size: 200%;*/
}

.uk-logo {
    font-size: 200%;
}

#second-nav {
    /* margin-left: 31%;*/
    text-transform: uppercase;
    text-align: center;
    font-size: 125%;
}

.uk-navbar-right {
    margin-right: 10px;
    font-size: 150%;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    height: 5%;
    margin-bottom: 10px;
}

#circle {
    height: 55%;
    margin-top: 15%;
}

#EC3-logo {
    height: 80%;
}