@media screen and (max-width: 645px) {
    /*************** Hidden on mobile view  *******************/
    .desktop,
    footer {
        display: none;
    }
    /* EnglishConnect Text and Subnav under it */
    .mobile {
        margin-top: 20px;
    }
    /* Entire switcher bar */
    ul.uk-subnav.uk-subnav-pill {
        width: 100vw;
        max-width: 400px;
        min-width: 320px;
        height: 45px;
        margin: auto;
        padding-left: 0;
        right: 0;
    }
    /******************* Switcher tab **********************/
    ul.uk-subnav.uk-subnav-pill>li {
        padding: 0px;
        width: 50%;
        max-width: 300px;
        min-width: 160px;
        height: 40px;
    }
    ul.uk-subnav.uk-subnav-pill li>a {
        min-width: 150px;
        color: white;
        font-size: 1.2em;
        text-align: center;
        height: inherit;
    }
    ul.uk-subnav.uk-subnav-pill>li:first-of-type>a {
        background-color: #174C5B;
    }
    ul.uk-subnav.uk-subnav-pill>li:nth-of-type(2)>a {
        background-color: #6ca9b6;
    }
    /* Active switcher tab */
    .uk-subnav-pill>.uk-active>a {
        background-color: #006666;
        height: 22.5px;
    }
    #circle {
        margin: -6vw auto auto -2vw;
        width: 100vw;
        max-width: 630px;
    }
    /************ SVG *************/
    #desktop-my-progress {
        border: solid rgb(196, 191, 191);
    }
    #desktop-todays-goals {
        border: solid rgb(196, 191, 191);
    }
    #vocabIcon-desktop {
        background-color: #6CABB7;
    }
    #grammarIcon-desktop {
        background-color: #F68E49;
    }
    /********** Bottom Vocab/Grammar containers ************/
    #vocabIcon-desktop,
    #grammarIcon-desktop {
        color: white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-family: serif;
        font-size: 1.5em;
    }
    div.uk-button-group {
        width: 100%;
    }
    #vocab-grammar-container {
        position: sticky;
        bottom: 90px;
        max-width: 500px;
        width: 100%;
        margin: auto;
        padding: 0px;
    }
    #group1,
    #group2 {
        align-items: flex-end;
        display: flex;
        flex-flow: row nowrap;
        padding: 10px 0;
        max-width: 100%;
    }
    #square-edges {
        color: white;
        background-color: rgba(151, 150, 150, 0.781);
        height: 23px;
        line-height: 23px;
        font-size: .75em;
        margin-right: 0px;
        padding: 0px 25px;
        width: 25%;
    }
    label {
        width: 100%;
        font-family: sans-serif;
        padding: 0 10px;
        font-weight: 700;
    }
    #group1 label {
        color: #6CABB7;
    }
    #group2 label {
        color: #F68E49;
    }
    /* Circular buttons */
    #vocabIcon,
    #grammarIcon {
        background-color: #299999;
        color: white;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-family: serif;
        font-size: 1.4em;
        padding: 0px;
        margin-right: 20px;
    }
    /* To change color of G icon */
    #grammarIcon {
        background-color: rgb(255, 166, 0);
    }
    /*--------------- Bottom Navbar ---------------*/
    /* Entire navbar */
    #bottom-nav {
        border-top: 1px solid rgb(207, 207, 207);
        padding-top: 7px;
        position: absolute;
        bottom: 0;
    }
    #bottom-nav>ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        list-style-type: none;
        margin: auto;
        padding: 0;
        width: 100vw;
    }
    /* Container around text underneath icons */
    #bottom-nav>ul>li {
        width: 18vw;
        max-width: 100px;
        text-align: center;
        padding: 0;
    }
    /* Text underneath icons */
    #bottom-nav p {
        margin: 0;
        font-size: 10px;
        line-height: 1;
    }
    /* Icons */
    #nav-icons {
        width: 15vw;
        height: 15vw;
        min-width: 30px;
        min-height: 30px;
        max-width: 50px;
        max-height: 50px;
    }
    /* Current page's icon */
    #active-button {
        color: rgb(14, 109, 126);
    }
}