@media screen and (max-width: 845px) {
    html {
        font-family: "Open Sans" !important;
    }
    body {
        height: 100%;
        min-height: 100%;
    }
    /*************** Hidden on mobile view  *******************/
    #sidenav, #breadcrumb, .desktop, footer {
        display: none;
    }

    /*--------------- Top Navbar ---------------*/
    /* EnglishConnect Text and Subnav under it */
    .mobile {
        margin-top: 0;
    }
    #first-nav {
        /* padding: 3px 0; */
        margin: 0;
    }
    .uk-logo {
        font-size: 18px;
        font-family: serif;
    }
    .uk-logo>span {
        color: #174C5B;
    }
    /* Subnav text */
    #second-nav {
        text-transform: uppercase;
        text-align: center;
        font-size: 100%;
    }
    div#second-nav.uk-container {
        height: 40px;
        padding: 0;
    }
    /* Help button and icon */
    .uk-navbar-right {
        position: relative;
        top: 25px;
        margin-right: 10px;
        font-size: 90%;
    }
    .uk-divider-small {
        margin: 0;
    }
    .uk-divider-small::after {
        width: 100%;
        border-top: 2px solid gray;
    }
    /*--------------- Mobile Homepage ---------------*/
    /* Entire switcher bar */
    ul.uk-subnav.uk-subnav-pill {
        display: sticky;
        width: 100vw;
        max-width: 400px;
        min-width: 320px;
        height: 45px;
        margin: auto;
        padding-left: 0;
        right: 0;
    }
    /******************* Switcher tab **********************/
    ul.uk-subnav.uk-subnav-pill>li {
        padding: 0px;
        width: 50%;
        max-width: 300px;
        min-width: 160px;
        height: 40px;
    }
    ul.uk-subnav.uk-subnav-pill li>a {
        min-width: 150px;
        color: white;
        font-size: 1.2em;
        text-align: center;
        height: inherit;
    }
    ul.uk-subnav.uk-subnav-pill>li:first-of-type>a {
        background-color: #174C5B;
    }
    ul.uk-subnav.uk-subnav-pill>li:nth-of-type(2)>a {
        background-color: #6ca9b6;
    }
    /* Active switcher tab */
    .uk-subnav-pill>.uk-active>a {
        background-color: #006666;
        height: 22.5px;
    }
    #circle {
        margin: -6vw auto auto -4vw;
        width: 100vw;
        max-width: 900px;
    }
    #square-edges {
        margin-bottom: 120px;
        height: 55px;
    }
    #square-edges2 {
        margin-bottom: 90px;
    }
    #bottom-nav>hr {
        margin-bottom: 5px;
    }
    /* Vocab and grammar button groups */
    button.uk-button {
        font-size: 1em;
        margin-right: 5px;
        height: 25px;
        line-height: 0px;
        width: 15%;
    }
    /* Circular buttons */
    #readicon,
    #speakIcon,
    #writeIcon,
    #listenIcon {
        color: white;
        filter: brightness(110%);
        border-radius: 50%;
        max-height: 60px;
        min-height: 40px;
        height: 15vw;
        width: 15vw;
        min-width: 40px;
        max-width: 60px;
        font-family: serif;
        font-size: 1.4em;
        padding: 0px;
        margin: 0 17px;
    }
    #vocabIcon,
    #grammarIcon {
        background-color: #299999;
        color: white;
        filter: brightness(110%);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-family: serif;
        font-size: 1.4em;
        padding: 0px;
        margin-right: 20px;
    }
    /* To change color of G icon */
    #grammarIcon {
        background-color: rgb(255, 166, 0);
    }
    /* Container holding the four skill buttons */
    div#four-categories.uk-button-group.uk-width-expand {
        width: 100%;
        display: none;
    }
    /* To change color of R icon */
    #readicon {
        background-color: rgb(194, 98, 34);
    }
    /* To change color of S icon */
    #speakIcon {
        background-color: rgb(21, 88, 105);
    }
    /* To change color of W icon */
    #writeIcon {
        background-color: rgb(121, 170, 74);
    }
    /* To change color of L icon */
    #listenIcon {
        background-color: orange;
    }
    /*--------------- Bottom Navbar ---------------*/
    /* Entire navbar */
    #bottom-nav {
        position: absolute;
        bottom: 0;
    }
    #bottom-nav>ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        list-style-type: none;
        margin: auto;
        padding: 0;
        width: 100vw;
    }
    /* Container around text underneath icons */
    #bottom-nav>ul>li {
        width: 18vw;
        max-width: 100px;
        text-align: center;
        padding: 0;
    }
    /* Text underneath icons */
    #bottom-nav p {
        margin: 0;
        font-size: 10px;
        line-height: 1;
    }
    /* Icons */
    #nav-icons {
        width: 15vw;
        height: 15vw;
        min-width: 30px;
        min-height: 30px;
        max-width: 50px;
        max-height: 50px;
    }
    /* Current page's icon */
    #active-button {
        color: rgb(14, 109, 126);
    }
}